$fontColor: #ffffff;
$colorHeading: #ffffff;
#content  // div with id: content
{
    color: $fontColor;
}
html{
    min-height: 100%;
}
body {
    background-color: #008585; /* For browsers that do not support gradients */
    background-image: linear-gradient(to top right, #00558d, #00856f); /* Standard syntax (must be last) */
    color: white;
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100%;
}
h2
{
    color: $colorHeading;
    text-align: center;
}

.container .row h3 {
    border-bottom: 1px solid white; 
    margin: 5px 0px;
    font-size: calc(7px + 1.5vw);
    text-align: center;
}

h1{
    @extend h2;
    
}

p{
    font-size: 400%;
    font-weight: lighter;
}

hr{
    border-color: white; width: 90%;
}

.divText{
    font-size: calc(25px + 2.5vw);    
}

.divText3days {
    font-size: calc(10px + 2vw);
}

.divBox{
    background-color: #0000005e;
    display: block;
    margin: auto;
    border-radius: 20px;    
}

.divLatestSize{
    
    max-width: 45%;
    min-width: 110px;
    max-height: 300px;
}

.div3dagsPrognoseSize{
    max-width: 45%;
    min-width: 95px;
    margin-left: 5px;
    margin-right: 5px;
    max-height: 300px;
}

//InputColor
input.inputStyle{
    color: white;
    background-color: #0000005e;
    text-align: center;
    width: 50%;
    min-width: 200px;
    margin: auto;
}

//borderless
table.table-borderless{
    text-align: center;
    color: white;
    margin-top:20px;
  }
table.table-borderless > thead > tr > th{
    text-align: center;
    color: white;
}
table.table-borderless > tbody > tr > td{
    text-align: center;
    color: white;
}



//Popup
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #1f3338; /* For browsers that do not support alpha */
    background-color: #1f3338da; 
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #1f3338; /* For browsers that do not support alpha */
    background-color: #1f3338da; 
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: calc(20% + 300px);
    
  }

sup {
    vertical-align: super;
    font-size: calc(10px + 1vw);
}

sup3days {
    vertical-align: super;
    font-size: calc(7px + 1vw);
}

//removes scrollbar
::-webkit-scrollbar {
    display: none;
}